<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDirectory" value="${basedir}/logs" />
	<variable name="footer" value="=========================== END ===========================${newline}" />
	<variable name="encoding" value="UTF-8" />

	<targets async="true">

		<!-- Общий лог: Trace, Debug, Info, Warn -->
		<target xsi:type="File"
		        name="fileAll"
                createDirs="true"
				fileName="${logDirectory}/info/${shortdate}_app.log"
				layout="${time}| ${level:uppercase=true}>> ${callsite:includeNamespace=false:cleanNamesOfAsyncContinuations=true}>> ${message} ${onexception:${newline}${exception:format=tostring}}"
				encoding="${encoding}"
				archiveFileName="${logDirectory}/archive/app_${shortdate}_{#}.log"
		        archiveNumbering="Rolling"
		        archiveEvery="Day"
				concurrentWrites="true"
				KeepFileOpen="false"
		        maxArchiveFiles="5"
		        footer="${footer}"/>

		<!-- Ошибки и фатальные ошибки -->
		<target xsi:type="File"
		        name="fileError"
                createDirs="true"
		        fileName="${logDirectory}/error/${shortdate}_error.log"
				layout="${time}| ${level:uppercase=true}>> ${callsite:includeNamespace=false:cleanNamesOfAsyncContinuations=true}>> ${message} ${onexception:${newline}${exception:format=tostring}}"
		        encoding="${encoding}"
		        archiveFileName="${logDirectory}/archive/error_${shortdate}_{#}.log"
				archiveNumbering="Rolling"
		        archiveEvery="Day"
		        maxArchiveFiles="5"
				concurrentWrites="true"
				KeepFileOpen="false"
		        footer="${footer}"/>

	</targets>

	<!-- Правила: что и куда писать -->
	<rules>
		<!-- Все уровни от Trace до Warn идут в fileAll -->
		<logger name="*"
				minlevel="Trace"
				maxLevel="Fatal"
				writeTo="fileAll" />

		<!-- Ошибки и фатальные ошибки идут в отдельный файл -->
		<logger name="*"
				minlevel="Error"
				maxLevel="Fatal"
		        writeTo="fileError" />
	</rules>
</nlog>